.calendarWrapper {
    width: 80%;
    margin: 0 auto;
}

.calendarItem {
    font-size: 16px;
    /*border: 1px solid #81b099;*/
    text-align: center;
    display: inline-block;
    width: 100px;
    background-color: #e2e2e2;
    border-radius: 10px;
    margin-right: 10px;
    border: #a9b5b5 1px solid;
}

.calendarItem:last-child {
    margin-right: 0;
}