.tasksPageWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    max-width: 762px;
    background-color: #e7f1f1;
    margin: 150px auto 0;
    border: #bac6c6 1px solid;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.tasksPageWrapper h3 {
    font-weight: lighter;
    text-align: center;
}

.dailyTasksWrapper {

}

.addButtonWrapper {
    text-align: center;
    margin-bottom: 20px;
}

.addButton {
    width: 200px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    height: 35px;
    background-color: #DFDFDF;
    border-radius: 3px;
    border: #a9b5b5 2px solid;
    outline: none;
}

.addButton:hover {
    transition: 0.3s;
    background-color: white;
}

.addButton:focus {
    transition: 0.3s;
    background-color: white;
}